
[Dd]ebug/
[Rr]elease/
x64/
x86/

*.suo
*.user
*.userosscache
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
ipch/
.vs/

*.tmp
*.log
*.tlog
*.lastbuildstate

# MacOs
*.DS_Store

SergeevVS/.DS_Store
SergeevVS/git_notes.md
SergeevVS/Lab_3/__pycache__/*
SergeevVS/Lab_3/.idea/*
SergeevVS/.idea/*
*.idea/*
.idea
.DS_Store